/* Patch fix for react-responsive-masonry layout's items not centering 
   correctly within their respective column. Why they are behaving like this here
   (and yet work fine on a replica minimal demo project) I do not know.
   There's probably a better fix. */
.cardsContainer > div > div > div {
  align-items: center;
}

.cardsContainer {
  width: 100%;
  max-width: 1100px;
  margin-inline: auto;
}

.btnAccent {
  margin-top: clamp(2.5rem, 5vw, 3rem);
  margin-inline: auto;
  padding: 0.81em 1.5em;
  border: none;
  background-color: var(--clr-accent);
  color: white;
  font-weight: 500;
}
